venv
.idea
.DS_Store
__pycache__/
unused-code
migrations/
data.sqlite
static/uploaded_files/


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
